:root {
  /*╔════════════════════════════╗
              COLORS
    ╚════════════════════════════╝*/

  --clr-primary-0: rgb(13, 27, 42);
  --clr-primary-1: rgb(27, 38, 59);
  --clr-primary-2: rgb(65, 90, 119);
  --clr-primary-3: rgb(119, 141, 169);
  --clr-primary-4: rgb(224, 225, 221);

  --clr-txt-0: black;
  --clr-txt-1: white;
  /*╔════════════════════════════╗
          COMPONENT DIMENSION
    ╚════════════════════════════╝*/
  /* width */
  --wdt-container-xl: 80rem;
  /* heigth */
  --hgt-header: 5rem;
  --hgt-item-lg: 4.5rem;
  --hgt-item-sm: 2.5rem;

  /*╔════════════════════════════╗
                GUTTERS
    ╚════════════════════════════╝*/
  --space-unit: 1rem;
}
